@model TODO.Models.Activities

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detailed Training Activities</h2>

<fieldset>
    <legend>Training Activities</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Activity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to Activities", "Index")
</p>
